<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="RegistryAutoStart" Guid="*">
        
        <RegistryValue
          Root="HKLM"
          Key="Software\Microsoft\Windows\CurrentVersion\Run"
          Name="ActivePulseAgent"
          Value="&quot;[INSTALLDIR]ActivePulse.exe&quot;"
          Type="string"
          KeyPath="yes"/>

      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>